.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #040506;
}
